header {
    border-bottom: 1px solid black;
    padding: 0 30px;
    margin: 0 50px;
}
h1 {
    color: blue;
    text-align: center;
}
.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    margin: 20px;
}
.btn button {
    flex: 1 1 auto;
    width: calc((100% / 11) - 10px); 
}
.textarea {
    text-align: center;
}
#mytext {
    width: 50%;
    height: 400px; 
    border: 5px solid black;
    margin: 0 auto; 
}
@media (max-width: 600px) {
    .btn button {
        flex: 1 1 100%;
    }
}
